
body {
	margin: 20px;
}

button {
    margin-left: 20px;
    min-width: 100px;
}

.form-inline {
    margin-top: 20px;
    margin-bottom: 20px;
}

.imageRating {
    text-align: center;
    font-size: 20px;
    background-color: grey;
    color: white;
}

.animalImage {
    width: 100%;
    
}

.imageDiv {
    width: 23%;
    float: left;
    margin: 1%;
}

@media only screen and (max-width:900px) {
    .imageDiv {
        width: 30%;
    }

@media only screen and (max-width: 750px) {
    .imageDiv {
        width: 48%;
    }

@media only screen and (max-width: 480px) {
    .imageDiv {
        width: 95%;
    }

